<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzEuWEzCxtI9-uqBpvuVUkDV571pUuKXM</string>
	<key>GCM_SENDER_ID</key>
	<string>1015604941251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ofclearn.app</string>
	<key>PROJECT_ID</key>
	<string>ofclearn-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ofclearn-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015604941251:ios:5871124588c0aa9b23ed76</string>
</dict>
</plist>